@import "../../styles/scss/styles.scss";

.header-wrapper {
  background-color: $yellow-color;
  position: sticky;
  top: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
}

.logo-container {
  padding: 20px 0;
}

.header__logo {
  font-size: $medium-text;
  color: $white-color;
  font-family: $logo-font;
  font-weight: 500;
}

.header__nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-grow: 1;
  gap: 3rem;
}

.header__nav-item:first-child {
  margin-left: auto;
}

.logo,
.icon {
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
}

.dictionary,
.learn,
.quiz {
  transition: 400ms ease;

  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 767px) {
  .header__nav {
    font-size: $small-text;
    gap: 1.5em;
  }

  .logo,
  .icon {
    width: 30px;
    height: 30px;
  }
}
