.cards-container {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin: 50px auto;
}

.back-btn,
.forward-btn {
    border: none;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    background-color: white;

    &:hover {
        background-color: rgba(255, 255, 255, 0.75);
    }

    &:active {
        box-shadow: 0px 2px 10px #343333 inset;
    }
}