.cards-container {

    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 70%;
    margin: 50px auto;
    
    border: 1px solid green;
}

.back, .forward {
    width: 20%;
}

.back-btn, .forward-btn {
    
    border: none;
    border-radius: 20px;
    width: 70px;
}