.flashcard-wrapper {
    width: 100%;
    max-width: 600px;
    height: 50vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.animated {
    animation: flipInX;
    animation-duration: 1s;
}


.flashcard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 100%;
    word-break: break-word; //break-all?
}

.flashcard__title {
    flex-basis: 5%;
    margin: 10px auto;
}

.flashcard__source {
    flex-basis: 40%;
    font-size: 4rem;
    margin: 10px auto; 
    
}

.flashcard__transcription {
    flex-basis: 20%;
    margin: 0 auto 10px;
}

.flashcard__translation {
    flex-basis: 25%;
    font-size: 20px;
}

.translate-btn {
    font-size: 16px;
    height: 35px;
    color: white;
    background-color: rgb(56, 198, 79);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: rgb(105, 225, 125);
    }
}

