@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

$mainColor: #3E1F5E;
$textColor: #FFD600;
$redColor: #E34D4D;
$greenColor: #4DC861;
$blueColor: #75C9E3;

$smallText: 16px;
$mediumText: 20px;
$largeText: 24px;
