@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

$main-color: #3E1F5E;
$text-color: #FFD600;
$red-color: #E34D4D;
$green-color: #4DC861;
$blue-color: #75C9E3;

$small-text: 16px;
$medium-text: 20px;
$large-text: 24px;
