$main-color: #3e1f5e;
$yellow-color: #fbda36;
$red-color: #e34d4d;
$blue-color: #75c9e3;
$lightblue-color: #add8e6;
$white-color: #ffffff;
$grey-color: #8e8e8e;
$darkgrey-color: #202020;
$shadow-color: rgba(0, 0, 0, 0.2);

$yellow-btn: rgb(255, 214, 0);
$red-btn: rgb(202, 55, 55);
$green-btn: #38c64f;
$green-hover: #69e17d;

$logo-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$small-text: 16px;
$medium-text: 20px;
$large-text: 24px;
